.fixed_headers {
  table-layout:fixed;
  margin-top:10px;
  margin-bottom:10px;
  border-collapse:collapse;
  th, td {
    padding:5px;
    text-align:left;
    overflow-x:hidden;
    text-overflow:ellipsis;
  }
  thead {
    background-color:#333333;
    color:#fdfdfd;
    tr {
      display:block;
      position:relative;
    }
  }
  tbody {
    display:block;
    overflow:auto;
    width:100%;
    max-height:500px;
    tr:nth-child(even) {
      background-color:#dddddd;
    }
    tr:hover {
      background-color: lightblue;
    }
  }
}

.outputTable {
  th:nth-child(1), td:nth-child(1) {
    min-width:125px;
    max-width:125px;
  }
  th:nth-child(2), td:nth-child(2) {
    min-width:50px;
  }
  th:nth-child(3), td:nth-child(3) {
    min-width:70px;
  }
  th:nth-child(4), td:nth-child(4) {
    min-width:350px;
    max-width:350px;
  }
  th:nth-child(5), td:nth-child(5) {
    min-width:350px;
    max-width:350px;
  }
}

.instructionsForm, .optionsForm {
  .hiddenInput {
    display:none;
    visibility:hidden;

    &:checked ~ .expand {
      max-height:200px;
    }
  }
  .inputLabel {
    display:block;
    text-align:left;
    border-bottom:1px solid #cccccc;
    font-size:20px;
    color:#666666;

    &:hover {
      color:#000000;
    }

    &::after {
      font-weight:bold;
      font-size:15px;
      content:"▼";
      display:inline-block;
      width:20px;
      height:20px;
    }
  }
  .expand {
    max-height:0;
    //height:0;
    overflow:hidden;
    transition:max-height 0.5s ease-in-out;
    -webkit-transition:max-height 0.5s ease-in-out;
    -moz-transition:max-height 0.5s ease-in-out;
  }
}

.optionsForm {
  .options {
    display: flex;
    margin-top: 2px;

    .glyph-info-button {
      font-size: 24px;
      margin-top: -3px;
      color: #337ab7
    }
  }
  .optionLabel {
    min-width: 100px;
  }
  .optionInput {
    min-width: 125px;
    max-height: 21px;
    margin-right: 5px;
  }
  .optionExtraInfo {
    width: 80%;
    opacity: 0;
    margin-left: 5px;
    -webkit-transition: opacity 350ms ease-in;
    -moz-transition: opacity 350ms ease-in;
    -ms-transition: opacity 350ms ease-in;
    -o-transition: opacity 350ms ease-in;
    transition: opacity 350ms ease-in;
  }
  .optionsUpdateButton {
    margin-top: 10px;
  }
}

.jsonPanel {
  visibility:hidden;
  display:none;
  textarea {
    margin-top:10px;
    min-width:calc(~'100% - 80px');
    max-width:calc(~'100% - 80px');
    min-height:250px;
    font-family: Helvetica, arial, sans-serif;
  }
}
#show_json:checked ~ .jsonPanel {
  visibility:visible;
  display:inline;
}

.tpSpinner {
  position: fixed;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}