<div ng-controller="tax-initializer">
  <link rel="stylesheet" type="text/css"
        ng-href="{{ global.staticRoot }}mod/com.caseware.ca.tax.abstract/tax-abstract.css"/>

  <div class="pagebg"></div>

  <div ng-controller="taxprep-diff-controller">
    <div ng-if="loading" class="tpSpinner spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>

    <div class="form instructionsForm">
      <input class="hiddenInput" id="hiddenCheckbox" type="checkbox" checked>
      <label for="hiddenCheckbox" class="inputLabel" id="checkboxLabel">Instructions</label>
      <div class="expand">
        <section>
          <p class="bold">
            This form is used to examine differences, if any, between tax return data imported from TaxPrep into CaseWare Compilation Tax.
          </p>
          <ul>
            <li>Step 1: Export data from an existing Taxprep tax return.</li>
            <li>Step 2: Sanitize the exported data using the given sanitization script file.</li>
            <li>Step 3: Import the TaxPrep file into Compilation tax.</li>
            <li>Step 4 (optional): Report generated differences to CaseWare</li>
          </ul>
        </section>
      </div>
    </div>

    <div class="form optionsForm">
      <input class="hiddenInput" id="hiddenOptions" type="checkbox" checked>
      <label for="hiddenOptions" class="inputLabel" id="optionsLabel">Options</label>
      <div class="expand">
        <section>
          <p class="bold">
            Edit options to be used in the comparison:
          </p>
          <div class="options">
              <label class="optionLabel">Diff Threshold: </label>
              <input class="optionInput" id="diffThreshold" type="number" on-blur-change="setDiffThreshold()" ng-model="diffThreshold">
              <span class="glyphicon glyphicon-info-sign glyph-info-button" ng-click="toggleInfo()"></span>
              <label class="optionExtraInfo" for="diffThreshold" id="extraInfo">
                Will only display differences greater than this value for values <b>over 100</b>. Default value of 1 will be used if no value is provided.
              </label>
          </div>
          <button class="btn btn-primary optionsUpdateButton" ng-click="refreshDiffs()">Update Diffs</button>
        </section>
      </div>
    </div>

    <div class="form" id="controlsForm">
      <label class = 'cornerText'> Developer Tools <br> Ctrl + Shift + S </label>

      <label class="titleFont">
        Import a Taxprep CSV
      </label>

      <div>
        <input type="file" id="tp_upload" file-input="taxprep" class="inputfile">
        <label for="tp_upload" class="btn btn-primary">Upload File</label>
      </div>

      <!-- Uncomment this section to enable diff generating without import (for testing)
      <br>
      <label class="titleFont">
        (Testing) Generate diff from CSV without importing
      </label>
      <div>
        <input type="file" id="tp_diff" file-input="taxprep-diff" class="inputfile">
        <label for="tp_diff">Upload File</label>
      </div>
      -->

      <div ng-show="show_dev">
        <br>

        <label class="titleFont">
          Batch import/diff from folder
        </label>

      <div>
        <input type="file" id="tp_folder_upload" file-input="taxprep-folder-diff" class="inputfile"
        webkitdirectory="">
        <label for="tp_folder_upload" class="btn btn-primary">Upload Folder</label>
      </div>

        <br>

        <label class="titleFont">
          View JSON file
        </label>

        <div>
          <input type="file" id="diff_json_upload" file-input="diff-json" class="inputfile">
          <label for="diff_json_upload" class="btn btn-primary">Upload JSON</label>
        </div>

        <br>

        <label class="titleFont">
          Detect mapping isSanitized
        </label>

        <div>
          <input type="file" id="sanitize_upload" file-input="sanitize" class="inputfile">
          <label for="sanitize_upload" class="btn btn-primary">Upload CSV</label>
        </div>
      </div>
    </div>

    <div class="form">
      <label for ="show_json" class="pull-right">Show Json</label>
      <input id="show_json" class="pull-right" type="checkbox">

      <div class="bold italic margin-bottom-1">
        Diff will be auto-generated if a Taxprep CSV was recently uploaded.
        <br>
        Only fields which directly change as a result of the import will be included.
      </div>

      <div class="outputTable">
        <div ng-if="!diffList.length" class="italic disabledBG bold" style="height: 5em">
          <span style="left:47%; top: 40%; position: relative">'No Diff To Show'</span>
        </div>

        <table class = "fixed_headers">
          <thead ng-show = 'diffList.length'>
          <tr>
            <th>Form</th>
            <th>Field</th>
            <th>Row/Col</th>
            <th>ImportVal</th>
            <th>CorptaxVal</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat = 'row in diffList' ng-click="rowJumpToSource(row)" class="pointCursor">
            <td title = '{{row.form}}.{{row.sequence}}'>{{row.form}}.{{row.sequence}}</td>
            <td>{{row.field}}</td>
            <td>{{displayRowCol(row)}}</td>
            <td>{{row.importVal}}</td>
            <td>{{row.corptaxVal}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="jsonPanel">
      <textarea ng-model="jsonOutput"
                ng-readonly="true"
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
      ></textarea>
      </div>

    </div>

  </div>
</div>