<div class="form section-to-print">
  <div ng-controller="taxPrintController">
    <div id="template"
         paperWidth="8"
         paperHeight="11.5"
         marginTop="0.6"
         marginRight="0.15"
         marginBottom="0.2"
         marginLeft="0.15"
         showPageTotal="true">

      <header>
        <table style="margin-bottom: 20px;font-family: 'Arial', 'Courier', sans-serif;font-size: 18px;font-weight: 100;">
          <tr><td>##AT1&nbsp;&nbsp;RETURN&nbsp;&nbsp;AND&nbsp;&nbsp;SCHEDULE&nbsp;&nbsp;INFORMATION</td></tr>
          <tr><td>##CAN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{getValue('t2a', '034')}}</td></tr>
          <tr><td>##TYE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{getValue('t2a', '037').year.toString()+padZeros(getValue('t2a', '037').month).toString()+padZeros(getValue('t2a', '037').day).toString()}}</td></tr>
          <tr><td>##PAGE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-align: right;padding-top: 20px;">{PageNumber}</span>&nbsp;&nbsp;{{getValue('t2a', '010')}}</td></tr>
        </table>
      </header>
      <footer></footer>
    </div>

    <div id="raw">
      <section ng-repeat="(formId, form) in customData track by $index">

        <content>
          <div style="display: inline-flex;flex-direction: column;width: 100%;">
            <div ng-repeat="(key, value) in form" style="font-family: 'Arial', 'Courier', sans-serif;font-size: 18px;font-weight: 100;">
              <span>##{{formId}}{{key}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span style="line-height: 1.5;" ng-bind-html="value"></span>
            </div>
          </div>
        </content>

      </section>

    </div>
  </div>
</div>
