<br /><br /><br />

<link rel="stylesheet" type="text/css"
      ng-href="{{ global.staticRoot }}mod/com.caseware.ca.tax.abstract/tax-abstract.css"/>
<link rel="stylesheet" type="text/css" ng-href="{{ global.staticRoot }}notoolbar.css"/>

<div class="pagebg"></div>

<div custom-popover
     custom-popover-template="{{global.staticRoot}}mod/com.caseware.ca.tax.abstract/directives/popover/fieldStatus.html"
     custom-popover-hide-delay="0"
     custom-popover-auto-hide="false"
>

    <div class="form" ng-class="{formDynamicWidth: formFillWindow}">

        <div style="overflow: hidden;">
            <agency-use-only-box
                    ng-if="::formData.formInfo.agencyUseOnlyBox"
                    options="formData.formInfo.agencyUseOnlyBox"
            ></agency-use-only-box>

            <div style="margin-left: 10px; margin-top: 10px">
                <form-description lines="{{::formData.formInfo.description}}"></form-description>
            </div>
        </div>

        <br/><br/><br/>

        <div class="bs-docs-header">
            <div>

                <h1>CorpTax EFILE Services</h1>
                <p>Here you can make decisions about EFILE'ing this tax return, or you can access the EFILE Dashboard in
                    Collaborate to view the EFILE status of multiple tax returns processed by your firm.</p>
            </div>
        </div>
        <link rel="stylesheet" type="text/css"
              ng-href="{{ global.staticRoot }}prod/com.caseware.ca.tax.ca.corp.2016/places/efile/efile.css"/>

        <div class="page">
            <div>
                <div>
                    <table>
                        <tbody>

                        <tr>
                            <td>
                                <br/>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <h4>This Tax Return/Engagement</h4>
                                <hr/>
                            </td>
                        </tr>
                        <tr ng-repeat="form in forms">
                            <td class="icon"><img src="{{form.icon}}"></td>
                            <td>
                                <div>
                                    <a ng-href="#/document/{{form.id}}" href="#/document/{{form.id}}">{{form.name}}</a>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <br/>
                                <br/>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <h4>EFILE Dashboard</h4>
                                <hr/>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <p></p>Open
                                <button ng-click="openCollaborate()" type="button" class="status btn btn-sm btn-primary">EFILE
                                    Dashboard
                                </button> in Collaborate to view EFILE status of multiple tax returns/engagements.</p>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>
