
.bs-docs-header {
    position: relative;
    padding: 10px 10px 20px 35px;
    font-size: 20px;
    text-align: left;
    margin-top: -45px;
    margin-left: 5px;
    text-align: left;
    margin-right: 10px;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #428BCA;
    border-radius: 3px;
}

.bs-docs-header p {
    font-size: 14px;
}

.page {
    margin-left: 30px;
}

.page p a {
    font-size: 12px;
}

td {
    padding: 10px 0 10px 0;
    font-size: 17px
}

td.icon  {
    width: 60px;
}

#logo {
    width: 100px;
    width:150px;
    margin-top: -20px;
    margin-bottom: 60px;
    margin-left: 40px;
}

hr {
    margin: 0px;
}

h4 {
    font-size: 20px;

}