.font-red {
    color: red;
}
.font-blue {
    color: #2D87AF;
}
.font-orange {
    color: coral;
}
.font-xsmall {
    font-size: 10px;
}
.font-small {
    font-size: 12px;
}
.font-medium {
    font-size: 16px;
}
.font-large {
    font-size: 24px;
}

.indent,
.indent-1 {
    padding-left: 10px !important;
}
.indent-2 {
    padding-left: 20px !important;
}
.indent-3 {
    padding-left: 30px !important;
}

.font-header {
    font-size: 19px
}
.font-subheader {
    font-size: 17px
}

