/*
 * Add custom Canadian form styles here
 */
.form input:not([disabled]),
.form select,
.form textarea {
    background-color: white;
}

.form input[disabled="disabled"],
.form .disabledBG,
.form textarea:disabled {
    background-color: lightgray !important;
    font-size: 14px;
    border: none; /*Depends if they want border for incomplete questions and unexpected answers*/
}

.form table.infoTable {
    border-collapse: separate;
    border-spacing: 4px;
}

/* removing underline for other input fields as per requested */
.form table.infoTable input[type="text"],
.form table.infoTable select {
    border: 1px solid #cccccc;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    height: 40px;
}

/* req c) */
.form table.infoTable input[type="text"]:disabled {
    border: none;
    /*background-color: white;*/
}

/* req a) */
.form table.infoTable tr td {
    vertical-align: middle;
    border-spacing: 0 5px;
}

.form table.infoTable label {
    /* padding: 0px */
    margin-top: 5px;
}

.form .highlightRow {
    background-color: white;
}

.form .background-custom {
    background-color: white;
}

.form .background-custom .background {
    background-color: white;
}

body {
    font-family: 'Lato', sans-serif;
}

.form fieldset {
    border: none;
}

.form legend {
    padding: 0;
}

.form .info-field {
    margin-bottom: 30px;
}

.form .tn-padding {
    width: 70px;
}

.form .info-field input,
.form .info-field select {
    border: 1px solid #cccccc
}
.form .se-radio-button .highlight-override {
    border: 1px solid orange;
}
.form .info-field input,
.form .info-field select,
.form table.formTable input[type="text"],
.form table.formTable select{
    height: 40px;
}
@media print {
    .info-field input,
    .info-field select,
    table.formTable input[type="text"],
    table.formTable select{
        height: 40px;
    }
}

.font-red {
    color: red;
}
.font-blue {
    color: #2D87AF;
}
.font-orange {
    color: coral;
}
.font-small {
    font-size: 12px;
}
.font-medium {
    font-size: 16px;
}
.font-large {
    font-size: 24px;
}
