<div style="display: flex;font-size: small;height: 40px;padding-top: 25px;">
  <div ng-bind="$index == 0 ? formFooterNum : null" style="padding-top: 20px;flex: 1;"></div>
  <div ng-bind="::footerVersion" style="padding-right: 5px;flex: 1;padding-top: 20px;"></div>
  <div ng-bind="::footerRelease" style="flex: 1;padding-top: 20px;"></div>
  <div style="padding-top: 20px;flex: 1;" ng-bind="::sequenceNum"></div>
  <div style="text-align: right;padding-top: 20px;flex: 1;">Page: {PageNumber}</div>
  <div style="flex: 1;">
    <img src="prod/{{productPath}}/images/cra-footer-logo.jpg" width="140" height="40" align="middle" alt="CRA Logo" style="float: right;">
  </div>
</div>
