<div style="height: 130px;">
  <div style="display: flex;font-size: small;">
    <div ng-bind="::engagementName" style="flex: 1;text-align: left;"></div>
    <div ng-bind="taxYearEnd.year + '-' + padZeros(taxYearEnd.month.toString()) + '-' + padZeros(taxYearEnd.day.toString())" style="flex: 1;text-align: center;"></div>
    <div ng-bind="::corpName" style="flex: 1;text-align: right;"></div>
  </div>
  <div style="display: flex;font-size: small;">
    <div ng-bind="::currentDate" style="flex: 1;text-align: left;"></div>
    <div style="flex: 1;"></div>
    <div ng-bind="::businessNum" style="flex: 1;text-align: right;"></div>
  </div>
  <div style="display: flex;font-size: small;">
    <div style="flex: 1;">
      <img class="craLogo" src='prod/{{productPath}}/images/cra-header-logo.png' alt="CRA LOGO">
    </div>
    <div ng-bind-html="::formTitle" style="flex: 1;text-align: center;font-weight: bold;font-size: medium;"></div>
    <div ng-bind="::scheduleNum" style="flex: 1;text-align: right;font-weight: bold;"></div>
  </div>
  <div style="display: flex;flex-direction: column;float: right;font-size: small;">
    <div ng-bind="$index == 0 ? formCode : null" style="flex: 1;text-align: right"></div>
    <div ng-if="!hideProtectedB" style="flex: 1;"><b>Protected B</b> when completed</div>
  </div>
</div>