<div ng-controller="tax-initializer">
  <link rel="stylesheet" type="text/css"
        ng-href="{{ global.staticRoot }}mod/com.caseware.ca.tax.abstract/tax-abstract.css"/>

  <div ng-controller="diagnostics-display-controller">

    <!-- TODO: move the filters into their own directive -->

    <input type="radio" ng-model="type" value="OVERRIDE"> Override Diagnostics<br>
    <input type="radio" ng-model="type" value="CUSTOM"> Custom Diagnostics<br>
    <input type="radio" ng-model="type" value="TAX RULE"> Tax Diagnostics <br>
    <input type="radio" ng-model="type" value="EFILE"> E-File Diagnostics <br>
    <input type="radio" ng-model="type" value="ALL"> All <br>

    <br>
    <br>

    <diagnostics filter="filter" set-update-filter="setUpdateFilter(updateFn)"></diagnostics>
  </div>
</div>